<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BullyShield - Tell My Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="BullyShield Logo" />
            </a>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="#what-we-do">Services</a>
            <a href="/">Contact</a>
        </div>
        <main class="form-container">
            <div class="form-box">
                <h1>Tell My Story</h1>
                <form action="#" method="post">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Type here..." required>
    
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="Type here..." required>
    
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="8" placeholder="Type here..." required></textarea>
    
                    <div class="checkbox-options">
                        <label><input type="checkbox" id="publish" name="publish" value="yes" name="post_story"> Would you like your story to be posted on "Our Story" page?</label>
                        <label><input type="checkbox" name="anonymous"> Send as Anonymous</label>
                    </div>
    
                    <button type="submit" class="btn-submit">Submit</button>
                </form>
            </div>
        </main>
    </header>
</body>
</html>
